____

<a href='https://oxiane-institut.com/'> <img src='../oxiane.jpg' /></a>
___
# Python Intensive Course

Please note that this is not intended to be a complete overview of Python or programming in general**

This notebook will simply cover the basic topics in order:

* Data Types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* List Comprehension
* Functions
* Lambda Expressions
* map and filter
* Methods
____

## Data types

### Numbers

In [48]:
1 + 1

2

In [49]:
1 * 3

3

In [50]:
1 / 2

0.5

In [51]:
2 ** 4

16

In [52]:
4 % 2

0

In [53]:
5 % 2

1

In [54]:
(2 + 3) * (5 + 5)

50

### Assignement of variables

In [55]:
# Can't start with a number or a special character
name_of_var = 2

In [56]:
x = 2
y = 3

In [57]:
z = x + y

In [58]:
z

5

### Strings

In [59]:
'single quotes'

'single quotes'

In [60]:
"double quotes"

'double quotes'

In [61]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [62]:
x = 'hello'

In [63]:
x

'hello'

In [64]:
print(x)

hello

In [65]:
num = 12
name = 'Sam'

In [66]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [67]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [68]:
# Starting with python 3.6

print(f"My number is: {num}, and my name is: {name}")

My number is: 12, and my name is: Sam

In [69]:
# Starting with python 3.8

print(f"My number is: {num = }, and my name is: {name = }")

My number is: num = 12, and my name is: name = 'Sam'

### Lists

In [70]:
[1,2,3]

[1, 2, 3]

In [71]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [72]:
my_list = ['a','b','c']

In [73]:
my_list.append('d')

In [74]:
my_list

['a', 'b', 'c', 'd']

In [75]:
my_list[0]

'a'

In [76]:
my_list[1]

'b'

In [77]:
my_list[1:]

['b', 'c', 'd']

In [78]:
my_list[:1]

['a']

In [79]:
my_list[0] = 'NEW'

In [80]:
my_list

['NEW', 'b', 'c', 'd']

In [81]:
nest = [1,2,3,[4,5,['target']]]

In [82]:
nest[3]

[4, 5, ['target']]

In [83]:
nest[3][2]

['target']

In [84]:
nest[3][2][0]

'target'

### Dictionaries

In [85]:
d = {'key1':'item1','key2':'item2'}

In [86]:
d

{'key1': 'item1', 'key2': 'item2'}

In [87]:
d['key1']

'item1'

### Booleans

In [88]:
True

True

In [89]:
False

False

### Tuples

In [90]:
t = (1,2,3)

In [91]:
t[0]

1

In [92]:
# t[0] = 'NEW'

### Sets

In [93]:
{1,2,3}

{1, 2, 3}

In [94]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [95]:
1 > 2

False

In [96]:
1 < 2

True

In [97]:
1 < 2 < 3

True

In [98]:
1 >= 1

True

In [99]:
1 <= 4

True

In [100]:
1 == 1

True

In [101]:
'hi' == 'bye'

False

## Logical Operators

In [102]:
(1 > 2) and (2 < 3)

False

In [103]:
(1 > 2) or (2 < 3)

True

In [104]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [105]:
if 1 < 2:
    print('Yep!')

Yep!

In [106]:
if 1 < 2:
    print('yep!')

yep!

In [107]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [108]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [109]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for loop

In [110]:
seq = [1,2,3,4,5]

In [111]:
for item in seq:
    print(item)

1
2
3
4
5

In [112]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [113]:
for jelly in seq:
    print(f"{jelly+jelly = }")

jelly+jelly = 2
jelly+jelly = 4
jelly+jelly = 6
jelly+jelly = 8
jelly+jelly = 10

## while loop

In [114]:
i = 1
while i < 5:
    print(f'{i = }')
    i = i+1

i = 1
i = 2
i = 3
i = 4

## range()

In [115]:
range(5)

range(0, 5)

In [116]:
for i in range(5):
    print(i)

0
1
2
3
4

In [117]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [118]:
x = [1,2,3,4]

In [119]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [120]:
[item**2 for item in x]

[1, 4, 9, 16]

## Functions

In [121]:
def my_func(param1: str='default'):
    """
    Docstring goes here.
    """
    print(f"my_func(): {param1 = }")

In [122]:
my_func

In [123]:
my_func()

my_func(): param1 = 'default'

In [124]:
my_func('new param')

my_func(): param1 = 'new param'

In [125]:
my_func(param1='new param')

my_func(): param1 = 'new param'

In [126]:
def square(x):
    return x**2

In [127]:
out = square(2)

In [128]:
print(out)

4

## lambda expression

In [129]:
def times2(var):
    return var*2

In [130]:
times2(2)

4

In [131]:
lambda var: var*2

## map et filter

In [132]:
seq = [1,2,3,4,5]

In [133]:
map(times2,seq)

In [134]:
list(
	map(times2,seq)
)

[2, 4, 6, 8, 10]

In [135]:
list(
	map(lambda var: var*2, seq)
)

[2, 4, 6, 8, 10]

In [136]:
filter(lambda item: item%2 == 0,seq)

In [137]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [138]:
st = 'hello my name is Sam'

In [139]:
st.lower()

'hello my name is sam'

In [140]:
st.upper()

'HELLO MY NAME IS SAM'

In [141]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [142]:
tweet = 'Go Sports! #Sports'

In [143]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [144]:
tweet.split('#')[1]

'Sports'

In [145]:
d

{'key1': 'item1', 'key2': 'item2'}

In [146]:
d.keys()

dict_keys(['key1', 'key2'])

In [147]:
d.values()

dict_values(['item1', 'item2'])

In [148]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [149]:
lst = [1,2,3]

In [150]:
lst.pop(1)

2

In [151]:
lst

[1, 3]

In [152]:
'x' in [1,2,3]

False

In [153]:
'x' in ['x','y','z']

True