___

<a href='https://oxiane-institut.com/'> <img src='../oxiane.jpg' /></a>\n
___
# Series

Le premier type de données principal que nous apprendrons pour pandas est le type de données Series. Importons Pandas et explorons l'objet Series.

Une Series est très similaire à un tableau NumPy (en fait, elle est construite sur le dessus de l'objet tableau NumPy). Ce qui différencie le tableau NumPy d'une Series, c'est qu'une Series peut avoir des étiquettes d'axe, ce qui signifie qu'elle peut être indexée par une étiquette, au lieu d'un simple emplacement numérique. Elle n'a pas non plus besoin de contenir des données numériques, elle peut contenir n'importe quel objet Python arbitraire.

Explorons ce concept à travers quelques exemples :

In [1]:
import numpy as np
import pandas as pd

### Création d'une Series

Vous pouvez convertir une liste, un tableau NumPy ou un dictionnaire en Series :

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

**Utilisation des listes**

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

**Tableau NumPy**

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

**Dictionnaire**

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Données dans une Series

Une Series pandas peut contenir une variété de types d'objets:

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Même les fonctions (bien que vous n'ayez probablement pas à utiliser cela)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Utilisation d'un index

La clé pour utiliser une Series est de comprendre son index. Pandas utilise ces noms ou numéros d'index en permettant des recherches rapides d'informations (fonctionne comme une table de hachage ou un dictionnaire).

Voyons quelques exemples de comment obtenir des informations à partir d'une Series. Créons deux séries, ser1 et se2 :

In [11]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [12]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [14]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
ser1['USA']

1

Les opérations sont ensuite également effectuées en fonction de l'index :

In [16]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

D'accord, arrêtons-nous là pour l'instant et passons aux DataFrames, qui étendront le concept de Series !