___

<a href='https://oxiane-institut.com/'> <img src='../oxiane.jpg' /></a>\n
___

## Series object

It allows to store and manipulate one column of data.

In this sense, it is similar to a numpy vector, or a python list.

It is the building block of a DataFrame.

In [ ]:
import pandas as pd
import numpy as np

### Creating it from python data

In [4]:
# From a list

my_list = [10, 20, 30]
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
# From a list, with indices

indices = ["a", "b", "c"]
pd.Series(data=my_list, index=indices)

a    10
b    20
c    30
dtype: int64

In [6]:
# From numpy array

arr = np.array([10, 20, 30])
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=arr, index=indices)

a    10
b    20
c    30
dtype: int64

In [9]:
# From a dict

d = {"a": 10, "b": 20, "c": 30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Interacting with a Series

In [2]:
df = pd.read_csv("data/heart.csv")

df

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [10]:
df["age"]

0      70
1      67
2      57
3      64
4      74
       ..
265    52
266    44
267    56
268    57
269    67
Name: age, Length: 270, dtype: int64

In [ ]:
type(df["age"])

pandas.core.series.Series

In [ ]:
# Series are vector. We can index it normally:

df['age'][0]

70

In [ ]:
df['age'][0:3]

0    70
1    67
2    57
Name: age, dtype: int64

### Applying functions on a Series

In [ ]:
df['age'].head()

0    70
1    67
2    57
3    64
4    74
Name: age, dtype: int64

In [ ]:
df['age'].tail()

265    52
266    44
267    56
268    57
269    67
Name: age, dtype: int64

In [ ]:
df['age'].describe()

count    270.000000
mean      54.433333
std        9.109067
min       29.000000
25%       48.000000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

In [ ]:
df['sexe'].describe()

count          270
unique           2
top       masculin
freq           183
Name: sexe, dtype: object

In [ ]:
df['age'].mean()

54.43333333333333

In [ ]:
df['type_douleur'].value_counts()

type_douleur
D    129
C     79
B     42
A     20
Name: count, dtype: int64

In [ ]:
df['age'].sort_values()

214    29
174    34
138    34
224    35
81     35
       ..
15     71
255    71
4      74
73     76
199    77
Name: age, Length: 270, dtype: int64

In [ ]:
df['age'].argsort()

0      214
1      174
2      138
3      224
4       81
      ...
265     15
266    255
267      4
268     73
269    199
Name: age, Length: 270, dtype: int64

In [11]:
df['sexe'][df['age'].argsort()]

214    masculin
174    masculin
138     feminin
224     feminin
81     masculin
         ...
15      feminin
255     feminin
4       feminin
73      feminin
199    masculin
Name: sexe, Length: 270, dtype: object