___

<a href='https://oxiane-institut.com/'> <img src='../oxiane.jpg' /></a>\n
___

# Operations

There are many operations with pandas that will be really useful to you, but don't fit into any distinct category. Let's show them here in this lesson:

In [13]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Information sur les valeurs uniques:

In [14]:
df['col2'].unique()

array([444, 555, 666])

In [15]:
df['col2'].nunique()

3

In [16]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

### Apply functions

In [17]:
df["col3"].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [18]:
df = pd.read_csv("data/heart.csv")

In [19]:
# select_dtypes()
# 	exclude non numeric columns with 'object' dtype

df_numeric = df.select_dtypes(exclude=["object"])
df_numeric

     age  pression  cholester  taux_max  depression  pic
0     70       130        322       109          24    2
1     67       115        564       160          16    2
2     57       124        261       141           3    1
3     64       128        263       105           2    2
4     74       120        269       121           2    1
..   ...       ...        ...       ...         ...  ...
265   52       172        199       162           5    1
266   44       120        263       173           0    1
267   56       140        294       153          13    2
268   57       140        192       148           4    2
269   67       160        286       108          15    2

[270 rows x 6 columns]

In [20]:
# fonction call back
def operation_on_column(x):
    print(f"{type(x) = } {x.name = }")
    return(x.mean())


# Call the function on all columns of the DataFrame
resultat = df_numeric.apply(operation_on_column, axis=0)

# axis = 0
# 	each column will be passed to the function `operation()`

resultat

type(x) = <class 'pandas.core.series.Series'> x.name = 'age'
type(x) = <class 'pandas.core.series.Series'> x.name = 'pression'
type(x) = <class 'pandas.core.series.Series'> x.name = 'cholester'
type(x) = <class 'pandas.core.series.Series'> x.name = 'taux_max'
type(x) = <class 'pandas.core.series.Series'> x.name = 'depression'
type(x) = <class 'pandas.core.series.Series'> x.name = 'pic'

age            54.433333
pression      131.344444
cholester     249.659259
taux_max      149.677778
depression     10.500000
pic             1.585185
dtype: float64

In [21]:
# fonction call back
def operation_on_row(x):
    # print(f"{type(x) = } {x.shape = }")
    return x.mean()


resultat = df_numeric.apply(operation_on_row, axis=1)

# axis = 1
# 	each row will be passed as a Series to the function `operation()`

resultat

0      109.500000
1      154.000000
2       97.833333
3       94.000000
4       97.833333
          ...
265     98.500000
266    100.166667
267    109.666667
268     90.500000
269    106.333333
Length: 270, dtype: float64

In [22]:
df['age'].sum()

14697