___

<a href='https://oxiane-institut.com/'> <img src='../oxiane.jpg' /></a>\n
___

## Multiple Index and Index Hierarchy

Let's see how to work with multiple indexes. First, we'll create a quick example of what a DataFrame with multiple indexes would look like:

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
multi_index = list(zip(outside,inside))
multi_index = pd.MultiIndex.from_tuples(multi_index)

In [4]:
multi_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
df = pd.DataFrame(np.random.randn(6, 2), index=multi_index, columns=["A", "B"])
df

             A         B
G1 1 -1.539424  0.799777
   2 -0.105359  1.146039
   3  0.878263  1.071915
G2 1 -1.941511  0.633976
   2  1.589378  0.742480
   3 -0.262749 -0.879262

***Now, let's show how to index this!*** 

For the index hierarchy, we use df.loc[]. 

If this was on the column axis, you would simply use the normal bracket notation df[]. 

Calling a level of the index returns the sub-dataframe:

In [6]:
df.loc['G1']

          A         B
1 -1.539424  0.799777
2 -0.105359  1.146039
3  0.878263  1.071915

In [7]:
df.loc['G1'].loc[1]

A   -1.539424
B    0.799777
Name: 1, dtype: float64

In [8]:
df.index.names

FrozenList([None, None])

In [9]:
df.index.names = ['Group','Num']

In [10]:
df

                  A         B
Group Num
G1    1   -1.539424  0.799777
      2   -0.105359  1.146039
      3    0.878263  1.071915
G2    1   -1.941511  0.633976
      2    1.589378  0.742480
      3   -0.262749 -0.879262

### df.xs()

Return cross-section from the Series/DataFrame.

In [16]:
xs_ret = df.xs('G1')
xs_ret

            A         B
Num
1   -1.539424  0.799777
2   -0.105359  1.146039
3    0.878263  1.071915

In [17]:
type(xs_ret)

pandas.core.frame.DataFrame

In [18]:
xs_ret = df.xs(('G1',1))
xs_ret

A   -1.539424
B    0.799777
Name: (G1, 1), dtype: float64

In [19]:
type(xs_ret)

pandas.core.series.Series

In [20]:
# Specify index of interest by name or by integer
df.xs(1, level='Num')

              A         B
Group
G1    -1.539424  0.799777
G2    -1.941511  0.633976

In [21]:
df.xs(1, level=1)

              A         B
Group
G1    -1.539424  0.799777
G2    -1.941511  0.633976